@use "../abstracts/variables" as v;

.contacto {
    position: absolute;
    top: 55.5%;
    height: 20%;
    left: 28%;
    width: 50%;
    // background-color: green;


    &__boxes {
        position: absolute;
        left: 50%;
        margin-left: -22.5rem;
        top: 50%;
        margin-top: -7.5rem;
        z-index: 2;

        padding: 2rem 5rem;
        width: 45rem;
        height: 15rem;
        background-color: v.$white;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        h2  {
            font-size: 4rem;
            margin: 0;
        }
    }

    &__imagen {
        position: absolute;


        &--mapa {
            width: 40rem;
            left: 24%;
            top: 100%;
        }

        &--cafe {
            z-index: 1;
            left: 70%;
            top: 89%;
            img {
                height: 15rem;
                width: 10rem;
                object-fit: cover;
            }
        }
    }
}

.caja {
    position: absolute;

    &--roja {
        height: 15rem;
        width: 15rem;
        background-color: v.$flame;
        z-index: 1;
        left: 71%;
        z-index: 2;

        display: flex;
        justify-content: center;
        align-items: center;

        i {
            color: v.$white;
            font-size: 6rem;
        }
    }
    &--amarilla {
        height: 15rem;
        width: 15rem;
        background-color: v.$buff;
        left: 73.5%;
        top: 50%;
        margin-top: -7.5rem;
        z-index: 1;
    }
    &--celeste {
        height: 20rem;
        width: 60rem;
        background-color: v.$blueDeFrance;
        top: 88%;
        left: 50%;
        margin-left: -22.5rem;
    }
}