@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__contenido {
        padding-top: v.$separacion;
        p {
            width: 23%;
            margin: 0;
        }
    }

    &__imagen {
        overflow: hidden;
        width: 20%;
        height: 26rem;
        img {
            height: 100%;
            object-fit: cover;
        }
    }
}