@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.footer {
    position: relative;
    margin-top: v.$separacion;
    // @include m.separacion;

    // @include m.grid( ( 3fr 1fr ), 0);

    // display: flex;
    // align-items: center;
    // justify-content: space-between;

    &__contenido {
        p {
            max-width: 25%;
        }
    }

    &__imagen {
        width: 30%;
        float: right;
        img {
            object-fit: cover;
        }
    }
}