@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.footer {
    position: relative;

    &__contenido {
        padding-top: v.$separacion;
        width: 23%;
    }

    &__imagen {
        overflow: hidden;
        height: 25rem;
        width: 35%;
        float: right;
        img {
            object-fit: cover;
        }
    }
}