@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.header {
    @include m.separacion;
    display: flex;
    align-items: center;
    gap: v.$separacionHorizontal;

    &__logo {
        width: 3rem;
    }
}

