@use "../abstracts/mixins" as m;

.nav {
    float: right;
    width: 90%;
    
    @include m.clearFloat;

    &__links {
        float: right;
        width: 70%;
        display: flex;
        align-items: center;
        gap: 3rem;

        a {
            padding: 1rem 0;
        }
    }

    &__buttons {
        float: right;
        width: 30%;
        display: flex;
        gap: 2rem;
    }
}