@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.main {
    @include m.clearFloat;

    &__imagen {
        width: 70%;
        img {
            width: 93%;
            object-fit: cover;
        }
    }

    &__contenido {
        width: 30%;
        float: right;
        margin-top: v.$separacion;
    }
}