@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.main {
    @include m.clearFloat;

    &__imagen {
        width: 80%;
        img {
            width: 100%;
            height: 60rem;
            object-fit: cover;
        }
    }

    &__contenido {
        width: 20%;
        text-align: center;
        float: right;
        margin-top: v.$separacion;
    }
}